<app-menu></app-menu>

<div class="fondo_imagen">
  <div class="texto_imagen">
    <div class="contenido_cuadro">
      <h1>De la realidad a la virtualidad</h1>
      <p>
        Accede a nuestro simulador virtual donde podrás introducirte a los ambientes interiores de tu
        <br />
        futuro hogar.
      </p>
    </div>
  </div>
</div>

<div class="home-house">
  <div class="add-img"></div>

  <div class="lista">
    <div class="lugar">
      <div class="imagen-propiedad1"></div>
      <div class="info-propiedad">
        <div class="parrafo">
          <p>Precio:$300,000</p>
          <p>Dormitorios:6</p>
          <p>Ubicación:Huaral</p>
        </div>
        <div class="buttons">
          <button class="add">Editar</button>
          <button class="erase">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="agregar-container">
    <button class="btn-agregar">+</button>
  </div>

  <div class="add2-img"></div>
</div>
