<app-menu></app-menu>

<div class="fondo_imagen">
  <div class="texto_imagen">
    <div class="contenido_cuadro">
      <h1>Lo más destacados</h1>
      <p>
        Conoce las propiedades más vistas y valoradas por nuestros usuarios. <br />
        Encuentra inspiración entre las casas más populares del momento
      </p>
    </div>
  </div>
</div>

<div class="filtros">
  <div class="filtro">
    <p>Departamento/ Distrito</p>
    <div class="select-container">
      <select class="cuadro">
        <option>Todos</option>
        <option>Huaral</option>
        <option>La Molina</option>
        <option>Asia</option>
        <option>Santiago de Surco</option>
      </select>
    </div>
  </div>
  <div class="filtro">
    <p>Casa</p>
    <div class="select-container">
      <select class="cuadro">
        <option>Todos</option>
        <option>Campo</option>
        <option>Playa</option>
        <option>Ciudad</option>
      </select>
    </div>
  </div>
  <div class="filtro">
    <p>Popularidad</p>
    <div class="select-container">
      <select class="cuadro">
        <option>Mayor</option>
        <option>Menor</option>
      </select>
    </div>
  </div>
</div>

<div class="lista">
  <div class="lugar">
    <div class="imagen-propiedad1"></div>
    <div class="info-propiedad">
      <div class="parrafo">
        <p>Ubicación:La Molina</p>
        <p>Casa:Ciudad</p>
        <p>Visualizaciones: 8.3 K</p>
      </div>
      <div class="buttons">
        <button class="add">Editar</button>
        <button class="erase">Eliminar</button>
      </div>
    </div>
  </div>

  <div class="lugar">
    <div class="imagen-propiedad2"></div>
    <div class="info-propiedad">
      <div class="parrafo">
        <p>Ubicación:Huaral</p>
        <p>Casa:Campo</p>
        <p>Visualizaciones: 5.8 K</p>
      </div>
      <div class="buttons">
        <button class="add">Editar</button>
        <button class="erase">Eliminar</button>
      </div>
