body{
    background-color: #C6E4FF;
    margin: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Para que ocupe todo el ancho de la pantalla */
    z-index: 1000; /* Asegúrate de que el header esté por encima del resto del contenido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añadir sombra para distinguirlo mejor */
}
.logo_container img{
    width: 40px;
    height: 40px;
}
.logo_container p{
    font-size: 25px;
    color:white;
    font-weight: bold;
    margin-left: 15px;
    font-family: "Lexend Deca",sans-serif;
}
.logo_container a{
    text-decoration: none;
}
.logo_container{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:#105590;
}
.navegacion a{
    text-decoration: none;
    font-family: "Lexend Deca",sans-serif;
    color:white;
    font-weight: bolder;
}
.navegacion{
   display: flex;
   gap:30px;/*espacio entre los link de navegacion*/
  margin-left: 900px ;
}
.avatar_container {
    display: flex;
    align-items: center;
    margin-right: 30px; /* Ajusta el espacio a la derecha si es necesario */
}
.avatar {
    width: 40px;   /* Ajusta el tamaño del avatar */
    height: 40px;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    border: 2px solid white; /* Puedes añadir un borde para el avatar */
}
.fondo_imagen{
    background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),url(/assets/futurista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 434px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moverFondoContinuo 55s linear infinite alternate;
}
@keyframes moverFondoContinuo { 
    0% {
        background-position: 0 0; /* Esquina superior izquierda */
    }
    50% {
        background-position: 50% 50%; /* Movimiento a la mitad de la imagen */
    }
    100% {
        background-position: 0 0; /* Vuelve a la esquina superior izquierda */
    }
}
.texto_imagen {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}
.contenido_cuadro{
    padding: 25px;
}
.texto_imagen h1 {
    font-size: 56px;
    font-family: "Lexend Deca",sans-serif;
    margin: 0;
}
.texto_imagen p {
    font-family: "Exo 2",sans-serif;
    font-size: 20px;
    margin-top: 10px;
}
.filtros {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
    padding: 20px;
}

.filtro {
    text-align: center;
}

.filtro p {
    font-weight: bold;
    color: #105590;
    font-family: "Exo 2",sans-serif;
}
.select-container {
    position: relative;
    display: inline-block;
    width: 100%; /* El select tomará el ancho del contenedor padre */
    max-width: 300px; /* Ajusta según la cantidad de texto */
}

.cuadro {
    width: 100%; /* Asegura que el select sea tan ancho como el contenedor */
    padding: 10px;
    font-size: 16px; /* Ajusta el tamaño de la fuente si es necesario */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 40px; /* Espacio para la flecha */
    cursor: pointer;
}

.select-container::after {
    content: '▼'; /* Flecha hacia abajo */
    font-size: 14px;
    color: #555;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
.lugar {
    display: flex;
    width: 1480px;
    height: 233px;
    border-radius: 20px;
    background-color: #105590;
    margin:20px;
    position: relative;
    overflow: hidden; /* Importante para que la imagen no salga del contenedor */
}
.imagen-propiedad1{
    background-image: url(/assets/casa1.jpg);
    width: 984px;
    height: 235px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out; /* Transición suave para el hover */
}
.imagen-propiedad1:hover {
    transform: scale(1.05); /* Incrementa el tamaño de la imagen al pasar el mouse */
}
.imagen-propiedad2{
    background-image: url(/assets/propiedad1.jpg);
    width: 984px;
    height: 235px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out; /* Transición suave para el hover */
}
.imagen-propiedad2:hover {
    transform: scale(1.05); /* Incrementa el tamaño de la imagen al pasar el mouse */
}
.imagen-propiedad3{
    background-image: url(/assets/propiedad3.jpg);
    width: 984px;
    height: 235px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out; /* Transición suave para el hover */
}
.imagen-propiedad3:hover {
    transform: scale(1.05); /* Incrementa el tamaño de la imagen al pasar el mouse */
}
.imagen-propiedad4{
    background-image: url(/assets/propiedad2.png);
    width: 984px;
    height: 235px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out; /* Transición suave para el hover */
}
.imagen-propiedad4:hover {
    transform: scale(1.05); /* Incrementa el tamaño de la imagen al pasar el mouse */
}
.info-propiedad{
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 400px; /* Ajustar ancho */
    align-items: center;
    padding-left: 100px;
    z-index: 1;
    background-color: #105590;
    position: relative;
    
}
.parrafo{
    text-align: left;
    margin: 0;
    font-size: 18px;
    font-weight: bolder;
}
.parrafo p {
    font-family: "Exo 2",sans-serif;
}
.info-propiedad button{
    background-color: #ffc107;
    border: none;
    padding: 10px 20px ;
    margin: 0 0 0 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color:#ffff;
    text-align: center;
    font-weight: bolder;
}
.add:hover {
    background-color: #e0a800;
}
.erase:hover {
    background-color: red;
}
.buttons{
    display: flex;
}