<app-menu></app-menu>

<div class="fondo_imagen"></div>

<div class="titulo">
  <h1>Casa de Campo Inteligente</h1>
</div>

<div id="casa" class="section-container">
  <div class="casa-container">
    <div class="slider-container">
      <div class="slider" id="slider">
        <div class="slider__list">
          <img src="assets/slider1.jpeg" alt="Slider 1" class="slider__img" />
        </div>
        <div class="slider__list">
          <img src="assets/slider2.jpeg" alt="Slider 2" class="slider__img" />
        </div>
        <div class="slider__list">
          <img src="assets/slider3.jpeg" alt="Slider 3" class="slider__img" />
        </div>
        <div class="slider__list">
          <img src="assets/slider4.jpeg" alt="Slider 4" class="slider__img" />
        </div>
        <div class="slider__list">
          <img src="assets/slider5.jpeg" alt="Slider 5" class="slider__img" />
        </div>
      </div>
      <div class="slider__btn slider__btn--left" id="btn-left">
        <i class="bi bi-arrow-left"></i>
      </div>
      <div class="slider__btn slider__btn--right" id="btn-right">
        <i class="bi bi-arrow-right"></i>
      </div>
    </div>
  </div>
</div>

<div class="detalles">
  <div class="info-card">
    <div class="info-item">
      <i class="fas fa-box"></i>
      <span class="editable">Disponible</span>
    </div>
    <div class="info-item">
      <i class="fas fa-map-marker-alt"></i>
      <span class="editable">Huaral, Chancay</span>
    </div>
    <div class="info-item">
      <i class="fas fa-calendar-alt"></i>
      <span class="editable">Publicado el 12/08/2023</span>
    </div>
    <div class="info-item">
      <i class="fas fa-eye"></i>
      <span class="editable">1.9 K visualizaciones</span>
    </div>
    <div class="info-item">
      <i class="fa-solid fa-star"></i>
      <span class="editable">3.5 K favoritos</span>
    </div>
    <div class="info-item">
      <i class="fas fa-user"></i>
      <span class="editable">SweetHome</span>
    </div>
    <div class="info-item">
      <i class="fas fa-check-circle"></i>
      <span class="editable">6 Dormitorios</span>
    </div>

    <div class="action-buttons">
      <button class="action-button">
        <i class="fas fa-file-pdf"></i>
        <span>Descargar Contrato</span>
      </button>
      <button class="action-button">
        <i class="fas fa-share-alt"></i>
        <span>Compartir</span>
      </button>
      <button class="action-button">
        <i class="fas fa-pencil-alt"></i>
        <span>Editar</span>
      </button>
    </div>
  </div>
  <div class="image">
    <div class="cuadro">
      <div class="texto-imagen">
        <p>Explora de manera virtual</p>
        <a class="btn-sim">
          <button>Ver Simulador</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div id="panel">
  <div id="mensajeria">
    <div id="lista-clientes">
      <div>José - "¿Cuál es el precio de la casa?"</div>
      <div>María - "¿Dónde está ubicada?"</div>
      <div>Sara - "Me gustaría más información."</div>
    </div>

    <div id="area-mensaje">
      <h3 id="nombre-cliente">Selecciona un cliente</h3>
      <div id="mensajes"></div>
      <div id="input-mensaje">
        <input type="text" placeholder="Escribe un mensaje..." />
        <button>Enviar</button>
      </div>
    </div>
  </div>
</div>
