body {
    background-color: #C6E4FF;
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Para que ocupe todo el ancho de la pantalla */
    z-index: 1000; /* Asegúrate de que el header esté por encima del resto del contenido */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Añadir sombra para distinguirlo mejor */
}
.logo_container img{
    width: 40px;
    height: 40px;
}
.logo_container p{
    font-size: 25px;
    color:white;
    font-weight: bold;
    margin-left: 15px;
    font-family: "Lexend Deca",sans-serif;
}
.logo_container a{
    text-decoration: none;
}
.logo_container{
    display: flex;
    margin-left: 20px;
    align-items: center;
}
.container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background:#105590;
}
.navegacion a{
    text-decoration: none;
    font-family: "Lexend Deca",sans-serif;
    color:white;
    font-weight: bolder;
}
.navegacion{
   display: flex;
   gap:30px;/*espacio entre los link de navegacion*/
  margin-left: 900px ;
}
.avatar_container {
    display: flex;
    align-items: center;
    margin-right: 30px; /* Ajusta el espacio a la derecha si es necesario */
}
.avatar {
    width: 40px;   /* Ajusta el tamaño del avatar */
    height: 40px;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    border: 2px solid white; /* Puedes añadir un borde para el avatar */
}
.fondo_imagen{
    background-image: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),url(/imagenes/propiedad4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 434px; 
}
.titulo{
    text-align: center;
    color: #105590;
    font-family: "Lexend Deca",sans-serif;
    font-weight: bolder;
    padding: 30px;
}
.detalles{
    margin-top:90px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.info-card {
   
    padding: 20px;
    margin-right: 30px;
    width: 300px;
   background-color:  #007bff;
   border-radius: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 40px;
}

.info-item i {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    color: #ffffff; /* Color de los iconos */
    font-size: 20px; /* Tamaño de los iconos */
}
.detalles .image{
    background-image:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ),url(/assets/VR.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 480px;
    height: 540px;
    margin-left: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuadro{    
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}
.texto-imagen{
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: bold;
}
.btn-sim button{
    background-color: #000;
    border:4px solid #ffff;
    color: #ffff;
    padding:10px 24px;
    border-radius: 10px;
    cursor:pointer;
}

.casa-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    width: 100%;
}

.slider-container {
    max-width: 1300px;
    height: 500px; 
    overflow: hidden;
    /* padding: 10px; */
    padding: 0px;
    /* background: rgb(228, 221, 221); */
    /* box-shadow: 0 0 0 10px rgb(55, 55, 129); */
    box-shadow: 0 0 0 1px rgb(84, 84, 84);
    border-radius: 10px;
    position: relative;
}

.slider {
    display: flex;
    width: 507%;
    height: 500px;
    margin-left: -101.5%;
}

.slider__list {
    width: 100%;
}

.slider__img {
    display: block;
    width: 99%;
    height: 100%;
    object-fit: cover;
    /* cursor: pointer; */
}

.slider__btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(193, 188, 188, 0.853);
    top: 50%;
    transform: translateY(-50%);
    /* font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center; */
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__btn:hover {
    background: #fff;
}

.slider__btn--left {
    left: 15px;
}

.slider__btn--right {
    right: 15px;
}

.details {
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.overlay{
    font-family: "Exo 2", sans-serif;
}

.boton_Simu{
    font-family: "Exo 2", sans-serif;
}
.action-buttons {
    margin-top: 20px;
}

.action-button {
    display: flex;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    border: 3px solid #ffff;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffff;
    cursor: pointer;
    font-size: 14px;
    margin-top:10px;
    transition: background-color 0.3s, color 0.3s;
}

.action-button i {
    margin-right: 5px;
}

.action-button:hover {
    background-color: #ffffff;
    color: #007bff;
}


#panel {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: "Lexend Deca", sans-serif;
}

#mensajeria {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
}

#lista-clientes {
    width: 30%;
    background-color: #007bff;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    color: white;
}

#lista-clientes div {
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#lista-clientes div:hover {
    background-color: #0056b3;
}

#area-mensaje {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
}

#nombre-cliente {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
}

#mensajes {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#input-mensaje {
    display: flex;
}

#input-mensaje input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-right: 10px;
}

#input-mensaje button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#input-mensaje button:hover {
    background-color: #0056b3;
}
