<app-menu></app-menu>

<div class="fondo_imagen">
  <div class="texto_imagen">
    <div class="contenido_cuadro">
      <h1>Favoritos</h1>
      <p>Conoce las propiedades de tu preferencia</p>
    </div>
  </div>
</div>

<div class="lista" id="lista-favoritos">
  <div class="lugar">
    <div class="imagen-propiedad1"></div>
    <div class="info-propiedad">
      <div class="parrafo">
        <p>Precio:$2,950,000</p>
        <p>Dormitorios:6</p>
        <p>Ubicación:Huaral</p>
      </div>
      <div class="buttons">
        <button class="add">Ver más detalles</button>
        <button class="erase">Eliminar de favoritos</button>
      </div>
    </div>
  </div>
</div>
