
<div class="imagen-fondo">
  <div class="cuadro">
    <h1>De la Realidad a la Virtualidad</h1>
    <p>
      Accede a nuestro simulador virtual donde podrás introducirte a los ambientes interiores de tu
      <br />
      futuro hogar.
    </p>
    <button class="btn-simulation">Ir al simulador</button>
  </div>
</div>

<div class="nosotros">
  <div class="card1">
    <h1>Nosotros</h1>
    <p>
      En InmoVision, nos enfocamos en transformar la experiencia<br />
      de compra de propiedades mediante el uso de tecnología de<br />
      realidad virtual. Nosotros brindamos una plataforma robusta<br />
      e inmersiva que te permite conocer los interiores de las<br />
      propiedades que se adapten a tus necesidades.
    </p>
  </div>
  <div class="card2">
    <h1>Visión</h1>
    <p>
      Ser la plataforma líder en soluciones <br />
      tecnológicas para el sector inmobiliario, <br />
      ofreciendo experiencias innovadoras de <br />
      marketing y gestión de propiedades a <br />
      través de tecnologías avanzadas como <br />
      la realidad virtual.
    </p>
  </div>
  <div class="card3">
    <h1>Misión</h1>
    <p>
      Desarrollar un sistema web y móvil que <br />
      facilite la comercialización y gestión de <br />
      propiedades en el sector inmobiliario,<br />
      integrando tecnologías de realidad virtual <br />
      para mejorar la experiencia de los usuarios.
    </p>
  </div>
</div>

<div class="casa">
  <div class="casa-imagen">
    <div class="info">
      <div class="descripcion">
        <h1>Casa de Campo Inteligente</h1>
        <p>
          Esta hermosa casa de campo combina a la perfección <br />
          el encanto rústico con todas las comodidades modernas,<br />
          ofreciendo un entorno único para vivir rodeado de naturaleza.<br />
          Al ingresar, serás recibido por un amplio jardín interior, un <br />
          espacio lleno de vegetación ideal para relajarse o disfrutar de <br />
          momentos de tranquilidad al aire libre. La propiedad cuenta con <br />
          una completa zona de parrilla, perfecta para organizar reuniones<br />
          familiares y eventos sociales en un ambiente acogedor.
        </p>
        <p>
          Además, una encantadora casa del árbol añade un toque<br />
          especial, proporcionando un espacio de juego seguro y <br />
          divertido para los niños, o incluso un rincón para la creatividad. <br />
          Ubicada en un entorno sereno, esta casa es un oasis privado <br />
          donde podrás desconectar del bullicio de la ciudad y disfrutar <br />
          de la vida en el campo con total confort. ¡Una oportunidad <br />
          única para crear recuerdos inolvidables!
        </p>
        <a class="btn-simulador">
          <button>Ir a la casa en VR</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="options">
  <div class="cartas">
    <div class="card1">
      <h2>CIUDAD</h2>
    </div>
    <div class="card2">
      <h2>PLAYA</h2>
    </div>
    <div class="card3">
      <h2>CAMPO</h2>
    </div>
  </div>
</div>

<div class="casa2">
  <div class="casa-imagen2">
    <div class="info2">
      <div class="descripcion2">
        <h1>Casa de Playa temática</h1>
        <p>
          Esta hermosa casa de campo combina a la perfección <br />
          el encanto rústico con todas las comodidades modernas,<br />
          ofreciendo un entorno único para vivir rodeado de naturaleza.<br />
          Al ingresar, serás recibido por un amplio jardín interior, un <br />
          espacio lleno de vegetación ideal para relajarse o disfrutar de <br />
          momentos de tranquilidad al aire libre. La propiedad cuenta con <br />
          una completa zona de parrilla, perfecta para organizar reuniones<br />
          familiares y eventos sociales en un ambiente acogedor.
        </p>
        <p>
          Además, una encantadora casa del árbol añade un toque<br />
          especial, proporcionando un espacio de juego seguro y <br />
          divertido para los niños, o incluso un rincón para la creatividad. <br />
          Ubicada en un entorno sereno, esta casa es un oasis privado <br />
          donde podrás desconectar del bullicio de la ciudad y disfrutar <br />
          de la vida en el campo con total confort. ¡Una oportunidad <br />
          única para crear recuerdos inolvidables!
        </p>
        <a class="btn-simulador2">
          <button>Ir a la casa en VR</button>
        </a>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer-container">
    <div class="footer-column">
      <h3>Acerca de</h3>
      <a href="#">Inmuebles en Perú</a>
      <a href="#">Publicar tu inmueble</a>
      <a href="#">Ayuda</a>
      <a href="#">Trabaja con Nosotros</a>
    </div>
    <div class="footer-column">
      <h3>Contáctanos</h3>
      <p>Distritos más buscados</p>
      <a href="#">Santiago De Surco</a>
      <a href="#">San Isidro</a>
      <a href="#">La Molina</a>
      <a href="#">Miraflores</a>
    </div>
    <div class="footer-column">
      <h3>Síguenos</h3>
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
      <a href="#">Youtube</a>
    </div>
  </div>
  <div class="footer-bottom">
    <a href="#">Términos y Condiciones</a>
    <a href="#">Política de Privacidad</a>
  </div>
</footer>
