<app-menu></app-menu>

<div class="container-logo-inicio_sesion">
  <div class="logo-inicio_sesion">
    <img src="assets/inmovisionlogo.png" alt="logo" />
    <p>InmoVision</p>
  </div>
</div>

<div class="contenedor-inicio_sesion">
  <div class="sesion">
    <h2>Iniciar Sesión</h2>
    <p>Correo Electrónico</p>
    <input type="email" required />

    <p>Contraseña</p>
    <input type="password" required />
  </div>
</div>

<div class="contenedor-button-login">
  <div class="button-login">
    <button type="submit">Ok</button>
    <button type="reset">Cancelar</button>
  </div>
</div>
