<app-menu></app-menu>

<div class="fondo_imagen">
  <div class="texto_imagen">
    <div class="contenido_cuadro">
      <h1>De la realidad a la virtualidad</h1>
      <p>
        Accede a nuestro simulador virtual donde podrás introducirte a los ambientes interiores de tu
        <br />
        futuro hogar.
      </p>
    </div>
  </div>
</div>

<div class="filtros">
  <div class="filtro">
    <p>Departamento/ Distrito</p>
    <div class="select-container">
      <select class="cuadro">
        <option>Huaral</option>
        <option>Todos</option>
        <option>La Molina</option>
        <option>San Isidro</option>
      </select>
    </div>
  </div>
  <div class="filtro">
    <p>Casa</p>
    <div class="select-container">
      <select class="cuadro">
        <option>Todos</option>
        <option>Campo</option>
        <option>Ciudad</option>
        <option>Playa</option>
      </select>
    </div>
  </div>
  <div class="filtro">
    <p>Nº Dormitorios</p>
    <div class="select-container">
      <select class="cuadro">
        <option>6</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
  </div>
  <div class="filtro">
    <p>Precio</p>
    <div class="select-container">
      <select class="cuadro">
        <option>$1,500,000 - $3,000,000 USD</option>
        <option>$3,000,000 - $5,000,000 USD</option>
        <option>$5,000,000 - $8,000,000 USD</option>
      </select>
    </div>
  </div>
</div>

<div class="lista">
  <div class="lugar">
    <div class="imagen-propiedad1"></div>
    <div class="info-propiedad">
      <div class="parrafo">
        <p>Precio:$3,000,000</p>
        <p>Dormitorios:6</p>
        <p>Ubicación:Huaral</p>
      </div>
      <div class="buttons">
        <button>Ver más Detalles</button>
        <button>Añadir Favoritos</button>
      </div>
    </div>
  </div>

  <div class="lugar">
    <div class="imagen-propiedad2"></div>
    <div class="info-propiedad">
      <div class="parrafo">
        <p>Precio:$2,570,000</p>
        <p>Dormitorios:6</p>
        <p>Ubicación:Huaral</p>
      </div>
      <div class="buttons">
        <button>Ver más Detalles</button>
        <button>Añadir Favoritos</button>
      </div>
    </div>
  </div>

  <div class="lugar">
    <div class="imagen-propiedad3"></div>
    <div class="info-propiedad">
      <div class="parrafo">
        <p>Precio:$2,955,000</p>
        <p>Dormitorios:6</p>
        <p>Ubicación:Huaral</p>
      </div>
      <div class="buttons">
        <button>Ver más Detalles</button>
        <button>Añadir Favoritos</button>
      </div>
    </div>
  </div>

  <div class="lugar">
    <div class="imagen-propiedad4"></div>
    <div class="info-propiedad">
      <div class="parrafo">
        <p>Precio:$2,950,000</p>
        <p>Dormitorios:6</p>
        <p>Ubicación:Huaral</p>
      </div>
      <div class="buttons">
        <button>Ver más Detalles</button>
        <button>Añadir Favoritos</button>
      </div>
    </div>
  </div>
</div>
