<app-menu></app-menu>

<div class="container-logo-registro">
  <div class="logo-registro">
    <img src="assets/inmovisionlogo.png" alt="logo" />
    <p>InmoVision</p>
  </div>
</div>

<div class="contenedor-registro">
  <div class="registro">
    <h2>Registrarse</h2>

    <p>Correo Electrónico</p>
    <input type="email" required />

    <p>Nombres</p>
    <input type="text" required />

    <p>Apellidos</p>
    <input type="text" required />

    <p>Crear Contraseña</p>
    <input type="password" required />

    <p>Confirmar Contraseña</p>
    <input type="password" required />
  </div>
</div>

<div class="contenedor-button-register">
  <div class="button-register">
    <button type="submit">Comprador</button>
    <button type="button">Arrendador</button>
  </div>
</div>
