<div class="list-container">

  <h2>Lista de Propiedades</h2>

  <div class="cards-grid">
    <div class="property-card" *ngFor="let element of dataSource.data">

      <!-- IMAGEN PRINCIPAL -->
      <div class="image-box">
        <img 
          [src]="element.imagenes.length > 0 ? element.imagenes[0].urlImagen : 'https://via.placeholder.com/400x250?text=Sin+Imagen'" 
          alt="Imagen propiedad">
      </div>

      <!-- CONTENIDO -->
      <div class="content-box">

        <h3>{{ element.titulo }}</h3>

        <p class="precio">S/ {{ element.precio }}</p>

        <p class="info">
          <strong>Distrito:</strong> {{ element.distrito.nombreDistrito }} <br>
          <strong>Tipo:</strong> {{ element.tipo }} <br>
          <strong>Categoría:</strong> {{ element.categoria }}
        </p>

        <!-- ESTADO -->
        <span class="estado" [ngClass]="{ 'disponible': element.estado === 'Disponible', 'no-disponible': element.estado !== 'Disponible' }">
          {{ element.estado }}
        </span>

        <!-- BOTONES -->
        <div class="actions">
          <button mat-flat-button color="primary" class="btn-edit" [routerLink]="['edits', element.idPropiedad]">
            <mat-icon>edit</mat-icon> Editar
          </button>

          <button mat-flat-button color="warn" class="btn-delete" (click)="eliminar(element.idPropiedad)">
            <mat-icon>delete</mat-icon> Eliminar
          </button>

            <button mat-flat-button color="accent" class="btn-ubicacion"
        (click)="verUbicacion(element.idPropiedad)">
          <mat-icon>location_on</mat-icon> Ver ubicación
        </button>
        </div>

      </div>

    </div>
  </div>

  <!-- BOTÓN REGISTRAR -->
  <div class="register-box">
    <button mat-flat-button class="btn-register" routerLink="/propiedades/nuevo">
      Registrar Propiedad
    </button>
  </div>

</div>
