.container {
  padding: 20px;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.info {
  margin-bottom: 20px;
  font-size: 16px;
}

.map {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  border: 2px solid #ccc;
}
