<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>{{ edicion ? 'Edición de Favorito' : 'Registrar Favorito' }}</h2>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">

      @if (edicion) {
      <mat-form-field class="example-full-width">
        <mat-label>ID:</mat-label>
        <input matInput formControlName="id" readonly="true" />
      </mat-form-field>
      }

      <br />

      <mat-form-field>
        <mat-label>Fecha Agregado</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="fechaAgregado" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          @if (form.get('fechaAgregado')?.hasError('required')) { 
            Seleccione la fecha!!
          }
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="usuarioFK" required>
          @for (u of listaUsuarios; track u) {
          <mat-option [value]="u.idUser">{{ u.nombre }} {{ u.apellido }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('usuarioFK')?.hasError('required')) { 
            Seleccione un usuario!!
          }
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Propiedad</mat-label>
        <mat-select formControlName="propiedadFK" required>
          @for (p of listaPropiedades; track p) {
          <mat-option [value]="p.idPropiedad">{{ p.titulo }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('propiedadFK')?.hasError('required')) { 
            Seleccione una propiedad!!
          }
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Lista Favorito</mat-label>
        <mat-select formControlName="listaFavoritoFK" required>
          @for (lf of listaListasFavoritos; track lf) {
          <mat-option [value]="lf.idLista">{{ lf.nombre }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('listaFavoritoFK')?.hasError('required')) { 
            Seleccione una lista!!
          }
        </mat-error>
      </mat-form-field>

      <br />

      <div style="margin-top: 20px">
        <button matButton="elevated">
          {{ edicion ? 'Editar' : 'Registrar' }}
        </button>
      </div>
    </form>
  </div>
</div>