<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>{{ edicion ? 'Edición de mensaje' : 'Registrar mensaje' }}</h2>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
      @if (edicion) {
      <mat-form-field class="example-full-width">
        <mat-label>ID:</mat-label>
        <input matInput formControlName="codigo" readonly="true" />
      </mat-form-field>
      }
      <br />

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select formControlName="usuario">
          @for (u of listaUsuarios; track u) {
          <mat-option [value]="u.idUser">{{ u.nombre }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('idUsuario')?.hasError('required')) { Seleccione un usuario!! }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Contenido -->
      <mat-form-field>
        <mat-label>Contenido</mat-label>
        <textarea matInput formControlName="contenido"></textarea>
        <mat-error>
          @if (form.get('contenido')?.hasError('required')) { Ingrese el contenido!! }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Fecha -->
      <mat-form-field>
        <mat-label>Fecha de envío</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="enviadoEn" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          @if (form.get('enviado_en')?.hasError('required')) { La fecha es obligatoria. }
        </mat-error>
      </mat-form-field>
      <br />

      <!-- Usuario -->

      <!-- Propiedad -->
      <mat-form-field>
        <mat-label>Propiedad</mat-label>
        <mat-select formControlName="propiedad">
          @for (p of listaPropiedades; track p) {
          <mat-option [value]="p.idPropiedad">{{ p.titulo }}</mat-option>
          }
        </mat-select>
        <mat-error>
          @if (form.get('idPropiedad')?.hasError('required')) { Seleccione una propiedad!! }
        </mat-error>
      </mat-form-field>
      <br />

      <div>
        <button matButton="elevated">{{ edicion ? 'Editar' : 'Registrar' }}</button>
      </div>

      <button mat-raised-button color="warn" type="button" (click)="cancelar()">Cancelar</button>
    </form>
  </div>
</div>
