<div class="container">
  <div style="text-align: center; margin: 5%">
    <h2>Lista de Pagos</h2>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- ID Pago -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.idPago }}
        </td>
      </ng-container>

      <!-- Usuario -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">
          {{ element.usuario?.nombre }}
        </td>
      </ng-container>

      <!-- Contrato -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Contrato</th>
        <td mat-cell *matCellDef="let element">
          {{ element.contrato?.idContrato }}
        </td>
      </ng-container>

      <!-- Fecha de Pago -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Fecha de pago</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaPago | date: 'dd/MM/yyyy' }}
        </td>
      </ng-container>

      <!-- Monto -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let element">
          {{ element.monto }}
        </td>
      </ng-container>

      <!-- Acciones (Editar / Eliminar) -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">

          <!-- Editar -->
          <button mat-button [routerLink]="['edits', element.idPago]">
            <mat-icon>edit</mat-icon>
          </button>

          <!-- Eliminar -->
          <button mat-button (click)="eliminar(element.idPago)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Filas -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="actions">
      <button
        mat-raised-button
        routerLink="/pagos/nuevo"
        class="btn-registrar"
      >
        <mat-icon>add</mat-icon>
        Registrar Pago
      </button>
    </div>
  </div>
</div>
