.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

h2 {
  font-weight: 500;
  color: #3f51b5;
}
